doctype html
html
  head
    title GaragePi
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js')
    meta(http-equiv='content-type', content='application/xhtml+xml; charset=utf-8')
  body
    h1 GaragePi
    hr
    block content